tweet_id is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tweets.csv', header=0)
df

   tweet_id                          content
0         1                yoh what's up man
1         3                         enjoying
2         5  things have been moving smooth

In [4]:
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets.loc[tweets['content'].str.len() >= 15, ["tweet_id"]]

In [5]:
invalid_tweets(df)

   tweet_id
0         1
2         5