id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+

In [2]:
import pandas as pd

In [3]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    sorted_values = employee['salary'].sort_values(ascending=False)
    unique_sorted = sorted_values.unique()

    if N <= 0 or N > len(unique_sorted):
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})
    else:
        result = unique_sorted[N - 1]
        return pd.DataFrame({f"getNthHighestSalary({N})":[result]})

In [4]:
df = pd.read_csv('employees.csv', header=0)
df

   id  salary
0   1     100
1   2     200
2   3     300

In [5]:
output = nth_highest_salary(df,2)
print(output)

   getNthHighestSalary(2)
0                     200

In [6]:
output = nth_highest_salary(df,-1)
print(output)

  getNthHighestSalary(-1)
0                    None