id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

Write a solution to find the second highest salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

In [1]:
import pandas as pd

In [2]:
def Second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    sorted_values = employee['salary'].sort_values(ascending=False)
    unique_sorted_values = sorted_values.unique()

    if len(unique_sorted_values) >= 2:
        result = unique_sorted_values[1]
        return pd.DataFrame({f"SecondHighestSalary": [result]})
    else:
        result = None
        return pd.DataFrame({f"SecondHighestSalary": [result]})

In [3]:
df = pd.read_csv('employees.csv')
df

   id  salary
0   1     100
1   2     200
2   3     300

In [4]:
Second_highest_salary(df)

   SecondHighestSalary
0                  200