
user_id is the primary key (column with unique values) for this table.
This table contains information of the users signed up in a website. Some e-mails are invalid.

Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

* The **prefix name** is a string that may contain  letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'.The prefix name **must** start with a letter.
* **The domain** is '@leetcode.com'.

Return the result table in **any order**.

In [2]:
import pandas as pd

In [16]:
def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    matched_mails = users['mail'].str.match(r'^[a-zA-Z][\w.-]*@leetcode\.com')
    valid_Users = users[matched_mails]
    return valid_Users

In [17]:
df = pd.read_csv('users.csv', header=0)
df.head()

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com

In [18]:
valid_emails(df)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com