employee_id is the primary key (column with unique values) for this table.
Each row of this table indicates the employee ID, employee name, and salary.

Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.

Return the result table ordered by employee_id.

In [1]:
import pandas as pd

In [11]:
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    def calculate_bonus(row):
        if row['employee_id'] % 2 != 0 and not row['name'].startswith('M'):
            return 0
        else:
            return row['salary']
        
    employees['bonus'] = employees.apply(calculate_bonus, axis=1)  
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

In [12]:
df = pd.read_csv('employees.csv', header=0)
df
calculate_special_bonus(df)

   employee_id  bonus
0            2   3000
1            3   3800
2            7      0
3            8   6100
4            9      0